<mat-form-field>
    <input matInput type="text" placeholder="customer name" [(ngModel)]="name">
</mat-form-field>
<mat-form-field>
    <input matInput type="number" placeholder="tel " [(ngModel)]="tel">
</mat-form-field>
<button mat-button (click)="add()">Add</button>
<table id="customers">
    <tr>
        <td>#</td>
        <td>#</td>
        <td>#</td>
    </tr>
    <tr *ngFor="let t of rows">
        <td>{{t.name}}</td>
        <td>{{t.tel}}</td>
        <td><a mat-button href='customeredit/?id={{t.id}}'>edit</a></td>
    </tr>
</table>