<table>

</table>

<kyl-kyauto [service]="cs" [bag]="css" [widthvalue]="'400px'"  [p]="'Customer'"></kyl-kyauto>
<kyl-kyauto [service]="itys" [bag]="it" [widthvalue]="'400px'"  [p]="'Insurance type'"></kyl-kyauto>
<mat-form-field>
    <input matInput type="text" placeholder="insurance" [(ngModel)]="value">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="com " [(ngModel)]="basepay">
</mat-form-field>
<mat-form-field>
    <input matInput type="number" placeholder="com " [(ngModel)]="secoundpay">
</mat-form-field>

<button mat-button (click)="add()">Save</button>
<table id="customers">
    <tr>
        <td>#</td>
        <td>#</td>
    </tr>
    <tr *ngFor="let t of rows">
        <td>{{t.customer.name}}</td>
        <td>{{t.insureruntype.name}}</td>
    </tr>
</table>