<div class="nb">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button> {{title}} {{env.version}}

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/insuretypenew']">
      <mat-icon><span class="material-icons-outlined">
        fact_check
        </span></mat-icon>
      <span i18n>Insure type</span>
    </button>

    <button mat-menu-item [routerLink]="['/customernew']">
      <mat-icon>accessibility_new</mat-icon>
      <span i18n>Customer new</span>
    </button>

    <button mat-menu-item [routerLink]="['/insurance']">
      <mat-icon>accessibility_new</mat-icon>
      <span i18n>Insurance</span>
    </button>
  </mat-menu>
  <!-- <lib-kyback></lib-kyback> -->
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>