<mat-form-field>
    <input type="text" matInput placeholder="name" [(ngModel)]="customer.name" >
</mat-form-field>
<mat-form-field>
    <input type="text" matInput placeholder="tel" [(ngModel)]="customer.tel" >
</mat-form-field>
<button (click)="edit()" mat-button>Edit</button>
