<mat-form-field>
    <input matInput type="text" placeholder="insurance type" [(ngModel)]="value">
</mat-form-field>
<mat-form-field>
    <input matInput type="number" placeholder="com " [(ngModel)]="com">
</mat-form-field>
<button mat-button (click)="add()">Add</button>
<table id="customers">
    <tr>
        <td>#</td>
        <td>#</td>
    </tr>
    <tr *ngFor="let t of rows">
        <td>{{t.name}}</td>
        <td>{{t.comp}}</td>
    </tr>
</table>